@model IEnumerable<SalonBookingSystem.Models.ApplicationUser>

@{
    ViewData["Title"] = "Потребители";
}

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Потребители</h2>
    </div>


    <table class="table table-bordered table-hover shadow">

        <thead class="table-dark">
            <tr>
                <th>Име</th>
                <th>Email</th>
                <th>Телефон</th>
                <th width="120">Действия</th>
            </tr>
        </thead>


        <tbody>

            @foreach (var user in Model)
            {
                <tr>

                    <td>
                        @user.FirstName @user.LastName
                    </td>


                    <td>
                        @user.Email
                    </td>


                    <td>
                        @user.PhoneNumber
                    </td>


                    <td>

                        @if (user.Role == SalonBookingSystem.Models.Enums.UserRole.Employee)
                        {
                            <span class="badge bg-success">
                                Служител
                            </span>
                        }
                        else
                        {
                            <a asp-controller="Employee"
                               asp-action="Create"
                               asp-route-userId="@user.Id"
                               class="btn btn-primary">

                                Добави като служител

                            </a>
                        }

                    </td>

                </tr>
            }

        </tbody>

    </table>

</div>